.container
  .row.header
    .col-md-12
      %h1 On My Way
  .row.content
    .col-md-5.col-md-offset-1.mother-info
      %h3.text-center Your friend will be here in
      %h2#remaining-time.text-center
        = @remaining_time
      .remaining
        %p.text-center
          %strong distance remaining
        .progress
          #remaining-m-100.progress-bar.progress-bar-success{style: "width: #{100-@remaining_m}%"}
            %span.sr-only
              = 100-@remaining_m
              Complete (success)
          #remaining-m.progress-bar.progress-bar-danger{style: "width: #{@remaining_m}%"}
            %span.sr-only
              = @remaining_m
              Complete (warning)
          #remaining-m-percentage.percentage
            = @remaining_m.to_s+" %"
    .col-md-5
      #map_canvas

  .row
    .col-md-10.col-md-offset-1
      %h3.text-center.margin-top You can download our app from
      %p.text-center.store-icons
        %a.alert-link
          %img{ src: "#{asset_path 'app-store.png'}", alt: "appstore"}
        %a.alert-link
          %img{ src: "#{asset_path 'google_play_icon.png'}", alt: "appstore"}
        %a.alert-link
          %img{ src: "#{asset_path 'windows_icon.png'}", alt: "appstore"}

- content_for :js_data do
  %div{id: "js-data",
    data: { aLat: @position.a_poi_lat,
          aLng: @position.a_poi_lng,
          bLat: @position.b_poi_lat,
          bLng: @position.b_poi_lng,
          actualLat: @position.actual_poi_lat,
          actualLng: @position.actual_poi_lng,
          id: @position.id}}


- content_for :js_data do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"
  = javascript_include_tag "locations"
