.tracking-reload.container
  .col-md-8.col-md-offset-2
    %h1 When Do U Come?
    %p.text-center
      %span.glyphicon.glyphicon-refresh.animate
    %p.text-center
      Updating Data.
      = succeed "Do" do
        %br/

    .remaining
      %p.text-center
        %strong distance remaining
      .progress
        .progress-bar.progress-bar-success{style: "width: #{100-@remaining_m}%"}
          %span.sr-only
            = 100-@remaining_m
            Complete (success)
        .progress-bar.progress-bar-danger{style: "width: #{@remaining_m}%"}
          %span.sr-only
            = @remaining_m
            Complete (warning)
        .percentage
          = @remaining_m

    .remaining
      %p.text-center
        %strong time remaining
        %p.text-center
          = @remaining_time
      %button.btn.btn-danger.btn-block.btn-lg{type: "submit"} Cancel Route


#map
- content_for :js_data do
  %div{id: "js-data",
        data: { bLat: @position.b_poi_lat,
          bLng: @position.b_poi_lng,
          id: @position.id}}

- content_for :js_data do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"
  = javascript_include_tag "trackings"

